@using Microsoft.Extensions.Localization
@model WebMarkerSpace.Models.PrestamoViewModel

@{
    ViewData["Title"] = Localizer["DetallesPrestamo"];
}

<h1>@Localizer["DetallesPrestamo"]</h1>

<div id="prestamo-detalle">
    @await Html.PartialAsync("_PrestamoDetallesPartial", Model)
</div>

<form id="af-token-form" class="d-none">@Html.AntiForgeryToken()</form>

@section Scripts {
    <script src="~/js/prestamo-detalle.js" asp-append-version="true"></script>
}
