@model WebMarkerSpace.Models.PrestamoViewModel

@{
    ViewData["Title"] = "Detalles del préstamo";
}

<h1>Detalles</h1>

<div id="prestamo-detalle">
    @await Html.PartialAsync("_PrestamoDetallesPartial", Model)
</div>

@* Token reutilizado por prestamo-detalle.js para las peticiones AJAX *@
<form id="af-token-form" class="d-none">@Html.AntiForgeryToken()</form>

@section Scripts {
    <script src="~/js/prestamo-detalle.js" asp-append-version="true"></script>
}
