@model WebMarkerSpace.Models.LineaPrestamoViewModel

@{
    ViewData["Title"] = "Añadir material al préstamo";
}

<h1>Añadir material</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PrestamoId" />

            <div class="form-group mb-3">
                <label asp-for="MaterialId" class="control-label"></label>
                <select asp-for="MaterialId" class="form-control" asp-items="ViewBag.MaterialId">
                    <option value="">-- Selecciona un material --</option>
                </select>
                <span asp-validation-for="MaterialId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DiasEstimados" class="control-label"></label>
                <input asp-for="DiasEstimados" class="form-control" />
                <span asp-validation-for="DiasEstimados" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Prestamo" asp-action="Details" asp-route-id="@Model.PrestamoId">Volver al préstamo</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
