@model WebMarkerSpace.Models.UsuarioViewModel
@using System.Linq
@using ApplicationCore.Domain.Enums
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = Localizer["Editar"];

    var rolItems = new SelectList(
        Enum.GetValues(typeof(RolUsuario)).Cast<RolUsuario>()
            .Select(r => new SelectListItem(Localizer.Localize(r), r.ToString())),
        "Value", "Text", Model.Rol);
}

<h1>@Localizer["Editar"]</h1>

<h4>@Localizer["Usuario"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasenia" class="control-label"></label>
                <input asp-for="Contrasenia" class="form-control" />
                <span asp-validation-for="Contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control"
                        asp-items="rolItems">
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Guardar"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["VolverLista"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
